---
title: Home page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- BEGIN hero -->
	<div class="container">
		<div class="hero" style="background: url('img/man.png') 0 0 no-repeat;">
			<div class="row">
				<div class="col-xs-offset-6 col-xs-6">
					<div class="hero-text">
						<div class="hero-descr">Командное соревнование. Трофейный судак</div>
						<div class="hero-title">Рыболовный турнир по ловле Трофейного судака на джиг</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END hero -->

	<!-- BEGIN content -->
	<div class="content">

		<!-- BEGIN block -->
		<div class="block-bg next-tournament">
			<div class="container">
				<div class="row">
					<div class="col-xs-3">
						<div class="block-title-icon"><span class="icon-calendar"></span>Ближайший турнир</div>
					</div>
					<div class="col-xs-9">
						<div class="swiper-container next-tournament-carousel">
							<div class="swiper-wrapper">
								{% for i in range(0,4) %}
								<div class="swiper-slide"><a href="#"><span>Турнир Астраханская рыбалка</span> <span>— 02.02.2017 г. Астрахань</span></a></div>
								{% endfor %}
							</div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN block -->
		<div class="carousel block-bordered">
			<div class="container">
				<div class="swiper-container sponsors-carousel">
					<div class="swiper-wrapper ">
						{% for i in range(0,9) %}
						<div class="swiper-slide"><img src="img/item-{{i + 1}}.png" alt=""></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN block -->
		<div class="block block-bordered">
			<div class="container">
				<div class="row">

					<div class="col-xs-9">
						<div class="block-title">Последние новости</div>
						<div class="row">

							<div class="col-xs-8">
								<!-- BEGIN news-block -->
								<div class="news-block">
									<div class="news-image news-image-big">
										<a href="#">
											{{mixins.pl(570,317)}}
											<div class="is-video">
												<span class="is-video-icon"></span><span class="is-video-text">есть видео</span>
											</div>
										</a>
									</div>
									<div class="news-title news-title-big"><a href="#">Андрей Питерцов и Дмитрий Елисеев — Победители Второго этапа PAL 2017!</a></div>
									<div class="news-descr">Рыбалка делится на любительскую и спортивную. В отличие от рыболовства, рыбалка — развлечение, досуг, вид отдыха, туризма и спорта.</div>
								</div>
								<!-- END news-block -->
							</div>

							<div class="col-xs-4">
							{% for i in range(0,4) %}
								<!-- BEGIN news-block -->
								<div class="news-block block-bordered news-block-inline clearfix">
									<div class="news-image">
										<a href="#">
											{{mixins.pl(77,67)}}
										</a>
									</div>
									<div class="news-text">
										<div class="news-date">02.02.2017<a href="#" class="news-link">Новости турнира</a></div>
										<div class="news-title"><a href="#">Книги и фильмы о рыбалке</a></div>
									</div>
								</div>
								<!-- END news-block -->
							{% endfor %}
							</div>

						</div>
					</div>

					<div class="col-xs-3">
						<div class="block-title">Видео</div>
						{% for i in range(0,2) %}
							<!-- BEGIN news-block -->
							<div class="news-block">
								<div class="news-image video">
									<a href="#">
										{{mixins.pl(271,161)}}
									</a>
								</div>
								<div class="news-date">02.02.2017<a href="#" class="news-link">Видео турнира</a></div>
								<div class="news-title"><a href="#">Андрей Питерцов и Дмитрий Елисеев — Победители Второго этапа PAL 2017!</a></div>
							</div>
							<!-- END news-block -->
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN block -->
		<div class="block block-bordered">
			<div class="container">
				<div class="block-title">Записи из блогов<a href="#">Все записи<span class="icon-arrow-right"></span></a></div>
				<div class="row">
					{% for i in range(0,2) %}
					<div class="col-xs-6">
						<!-- BEGIN news-block -->
						<div class="news-block">
							<div class="row">
								<div class="col-xs-6">
									<div class="news-image">
										<a href="">
											{{mixins.pl(269,172)}}
											<div class="is-video">
												<span class="is-video-icon"></span><span class="is-video-text">есть видео</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="news-date">02.02.2017<a href="#" class="news-author">Александр Савин</a></div>
									<div class="news-title"><a href="#">Андрей Питерцов и Дмитрий Елисеев — Победители Второго этапа PAL 2017!</a></div>
									<div class="news-descr">Рыбалка делится на любительскую и спортивную. В отличие от рыболовства, рыбалка — развлечение, досуг, вид отдыха, туризма и спорта.</div>
								</div>
							</div>
						</div>
						<!-- END news-block -->
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN banner -->
		<div class="banner" style="background-image: url('../img/banner.png');">
			<div class="container">
				<div class="row">
					<div class="col-xs-offset-3 col-xs-9">
						<div class="btn-modal-wr">
							<a href="#popup-form" class="btn-modal" data-toggle="modal">Заявка на участие</a>
						</div>
						<div class="banner-title">Ближайший турнир<span class="banner-date">02.02.2017  Астрахань</span></div>
						<div class="banner-descr">Сводобно 20 мест, кликните по баннеру для полной информации</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END banner -->

		<!-- BEGIN block -->
		<div class="block block-bordered">
			<div class="container">
				<div class="block-title">Текущий турнир</div>
				<div class="row">

					<div class="col-xs-6">
						{% for i in range(0,2) %}
						<!-- BEGIN news-block -->
						<div class="news-block news-block-inline clearfix">
							<div class="news-image">
								<a href="">
									{{mixins.pl(269,172)}}
									<div class="is-video">
										<span class="is-video-icon"></span><span class="is-video-text">есть видео</span>
									</div>
								</a>
							</div>
							<div class="news-date">02.02.2017<a href="#" class="news-link">Текущий турнир</a></div>
							<div class="news-title"><a href="#">Андрей Питерцов и Дмитрий Елисеев — Победители Второго этапа PAL 2017!</a></div>
							<div class="news-descr">Рыбалка делится на любительскую и спортивную. В отличие от рыболовства, рыбалка — развлечение, досуг, вид отдыха, туризма и спорта.</div>
						</div>
						<!-- END news-block -->
						{% endfor %}
					</div>

					<div class="col-xs-6">
						<!-- BEGIN news-block -->
						<div class="news-block">
							<div class="news-image news-image-big">
								<a href="#">
									{{mixins.pl(570,317)}}
									<div class="is-video">
										<span class="is-video-icon"></span><span class="is-video-text">есть видео</span>
									</div>
								</a>
							</div>
							<div class="news-date">02.02.2017<a href="#" class="news-link">Текущий турнир</a></div>
							<div class="news-title news-title-big"><a href="#">Андрей Питерцов и Дмитрий Елисеев — Победители Второго этапа PAL 2017!</a></div>
							<div class="news-descr">Рыбалка делится на любительскую и спортивную. В отличие от рыболовства, рыбалка — развлечение, досуг, вид отдыха, туризма и спорта.</div>
						</div>
						<!-- END news-block -->
					</div>

				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN block -->
		<div class="block">
			<div class="container">
				<div class="block-title">Результаты<a href="#">Полный список результата<span class="icon-arrow-right"></span></a></div>
				<div class="row">
					{% for i in range(0,4) %}
					<div class="col-xs-3">
						<div class="block-results{% if i == 0 %} block-results-first{% endif %}">
							<span class="block-results-position">{{i + 1}}</span>
							<span class="block-results-winner">Русяев - Чалдышкин</span>
							<span class="block-results-points">580</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN block -->
		<div class="block">
			<div class="container">
				<div class="block-title">Участники турнира<a href="#">Все участники<span class="icon-arrow-right"></span></a></div>
				<div class="row">
					{% for i in range(0,6) %}
					<div class="col-xs-2">
						<div class="block-participants">
							<div class="block-participants-photo">
								<a href="">
									{{mixins.pl(169,204)}}
								</a>
							</div>
							<div class="block-participants-descr">Москва 28 лет.</div>
							<div class="block-participants-name">Александр Савинский</div>
							<div class="block-participants-location">Город Москва</div>
							<div class="block-participants-start">Участник турнира с 2010г</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- END block -->

		<!-- BEGIN form -->
		<div class="form block-bg">
			<form action="" class="form-app">
				<div class="row">
					<div class="col-xs-3">
						<div class="block-title-icon"><span class="icon-send"></span>Запись на турнир</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<input type="text" name="name" placeholder="Ваше имя ...">
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<input type="tel" name="phone" placeholder="Номер телефона ...">
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group form-group-bg">
							<input class="btn-submit" type="submit" value="Завявка на участие">
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END form -->

		<!-- BEGIN block -->
		<div class="block">
			<div class="container">
				<div class="block-title">Фотогалерея<a href="#">Все фотографии<span class="icon-arrow-right"></span></a></div>
			</div>
			<div class="gallery clearfix">
				{% for i in range(0,5) %}
				<div class="gallery-item">
					{{mixins.apl(261,164)}}
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- END block -->

	</div>
	<!-- END content -->

{% endblock %}
