<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="logo">
					<img src="img/logo-footer.png">
				</div>
				<div class="logo-descr">Рыбаловные турнир 2017<br>в городе<img src="img/icons/icon-ru.png" alt="">Астрахань</div>
			</div>
			<div class="col-xs-4">
				<nav class="nav-footer">
					<ul>
						<li><a href="#">Правила</a></li>
						<li><a href="#">Спортсмены</a></li>
						<li><a href="#">Фото</a></li>
						<li><a href="#">Видео</a></li>
					</ul>
				</nav>
				<div class="copy">2017 &copy; ООО «Лига Профессиональных Рыболовов»</div>
			</div>
			<div class="col-xs-2">
				<div class="social">
					<ul>
						<li><a href="#" class="social-item fb"></a></li>
						<li><a href="#" class="social-item vk"></a></li>
						<li><a href="#" class="social-item od"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>